body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

.col-1 {flex: 1 1 0;}
.col-2 {flex: 2 2 0;}
.col-3 {flex: 3 3 0;}

[class*="col-"] {
  padding: 15px;
  display: flex;
}

header {
  background-color: #8c8c8c;
  padding: 15px;
  color: #ffffff;
}

footer {
  background-color: #8c8c8c;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.tagging {
  flex-direction: column;
  display: flex;
  align-content: flex-start;
}

.discovery {
  flex-direction: column;
}

.split-map-and-taglist {
  flex-direction: row;
  padding-top: 0;
}

.tagmap {
  flex-direction: column;
}

input[type="text"], input[type="number"], input[type="submit"] {
  width: fit-content;
  padding: 5px;
  margin: 4px;
}

.tagging label {
  padding-left: 5px;
}

#results li {
  background-color: #00B7FF;
  padding: 7px;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 10px;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 480px){
  main {
    flex-direction: column;
  }
}